body {
    background: wheat;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;

}
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar .navlist {
    list-style: none;
    display: flex;
    
}
.nav-1 {
    margin: 18px; 

}
#pg-1 {
    width: 60%;
  text-align: center;
  margin: 70px auto;  
}
figcaption {
    text-align: center;
    font-size: 0.8em;
    color: #666;
  }
  #main-header {
    background-color: lightgoldenrodyellow;
    width: 100vw;
    height: 70px;
    top: 0;
    position: fixed;
    left: 0;
  }
  #footer img {
    width: 25px;
    height: 20px;
    text-align: center;
    margin: 10px auto;
  }
  .img-1 {
    list-style: none;
    margin: 50px;
    float: left;
    width: 20%;
